<p-tag *ngIf="statut === 0" styleClass="p-mr-2" severity="danger" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 1" styleClass="p-mr-2" severity="warning" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 2" styleClass="p-mr-2" severity="info" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 3" styleClass="p-mr-2" severity="success" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 4" styleClass="ce-finished-color" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 5" styleClass="ce-exceed-color" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 6" styleClass="p-mr-2" severity="info"  value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 7" styleClass="p-mr-2" severity="info"  value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 8" styleClass="p-mr-2"  severity="danger" value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 9" styleClass="p-mr-2" severity="danger"  value="{{statutName}}"></p-tag>
<p-tag *ngIf="statut === 10" styleClass="p-mr-2" severity="danger"  value="{{statutName}}"></p-tag>
