.st100 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-weight: bold;
    color: #ef6c00;
    font-size: 30px;

    
  }
    
  .st101 {
    font-family: 'adobe-arabic', cursive;
    font-weight: bold;
    color: #330033;
    font-size: 28.769px;
  }
  