<ng-container *ngIf="type === 'CED'">
  <ng-container *ngIf="y === 210.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 210.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        CED
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 240.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>

  </ng-container>

  <ng-container *ngIf="y === 235.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 235.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        CED
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 265.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>

  </ng-container>
</ng-container>

<!-- ETABLISSEMENT -->
<ng-container *ngIf="type === 'ETB'">
  <ng-container *ngIf="y === 270.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 270.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        ETABLISSEMENT
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 300.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>

  </ng-container>

  <ng-container *ngIf="y === 295.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 295.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        ETABLISSEMENT
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 325.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>
  </ng-container>

  <ng-container *ngIf="y === 320.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 320.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        ETABLISSEMENT
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 350.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>
  </ng-container>


</ng-container>



<!-- FORMATION DOCTORALE -->
<ng-container *ngIf="type === 'FD'">
  <ng-container *ngIf="y === 330.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 330.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        FORMATION DOCTORALE
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 360.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>

  </ng-container>

  <ng-container *ngIf="y === 355.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 355.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        FORMATION DOCTORALE
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 385.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>
  </ng-container>

  <ng-container *ngIf="y === 380.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 380.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        FORMATION DOCTORALE
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 410.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>
  </ng-container>

  <ng-container *ngIf="y === 405.5">
    <svg:foreignObject transform="matrix(1 0 0 1 15.1054 405.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st100">
        FORMATION DOCTORALE
      </div>
    </svg:foreignObject>

    <svg:foreignObject transform="matrix(1 0 0 1 25.1054 430.5)" width="700" height="100">
      <div xmlns="http://www.w3.org/1999/xhtml" class="st101">
        {{ text }}
      </div>
    </svg:foreignObject>
  </ng-container>


</ng-container>