<p-toast position="bottom-right" key="toast"></p-toast>


<div class="login-body" >

    <div  style="background-color: #e9ecef;" class=" login-card  login-panel p-fluid">
        <div  class=" login-center-v card ce-card-primary-top-outline login-panel-content p-shadow-7">
            <form *ngIf="!isConnexion" [formGroup]="resetForm" (ngSubmit)="resetPass()">

            <div class="p-grid mt">
                <div class="p-col-3" style="text-align:left;">
                    <img width="90" height="100" src="/assets/layout/images/uh1.jpg" alt="avalon-ng"/>
                </div>
                <div class="p-col-9 p-pl-5" style="text-align:left;">
                    <h2 class="welcome-text ce-text-dark">{{lang.v1}}</h2>
                    <span class="ce-text-muted-1 ">{{lang.v0}}</span>
                </div>

                <input
                formControlName="passwordToken"
                hidden
                type="text" pInputText/>



                <div class="p-col-12" style="text-align:left;">
                    <label class="login-label ce-text-dark p-text-bold">{{lang.set_email}} :</label>
                    <div class="login-input">



                        <input
                        formControlName="password"

                        type="password" placeholder="{{lang.set_email}}" pInputText/>
                    </div>
                </div>
                <div class="p-col-12" style="text-align:left;">
                    <label class="login-label ce-text-dark p-text-bold">{{lang.new_pwd}} :</label>
                    <div class="login-input">
                        <input
                        formControlName="password_confirmation"
                        type="password" placeholder="{{lang.new_pwd}}" pInputText/>
                    </div>
                </div>
                <div class="p-col-12  button-pane">
                    <app-button  [icon]="'user-edit'"   [type]="'submit'" [block]="true" [text]="lang.reset_pwd"
                    [loading]="isLoading"></app-button>
                </div>

            </div>
            </form>

            <div  *ngIf="isConnexion"  class="p-col-12 ">
                <button icon="fas fa-key"  label="{{lang.v3}}" pButton [routerLink]="'/login'">

                </button>
            </div>


        </div>
    </div>
</div>


