<div class="login-body">

    <div style="background-color: #e9ecef;" class=" login-card  login-panel p-fluid">
        <div class=" login-center-v card ce-card-primary-top-outline login-panel-content p-shadow-7">




            <div class=" notfound">

                <div class="exception-panel">
                    <div class="exception-image">
                        <img src="assets/layout/images/exception/icon-error.png" alt="avalon-ng" />
                    </div>
                    <div class="exception-panel-content">
                        <div class="information-text">
                            <h3>{{lang.not_found_1}}</h3>
                            <p>{{lang.not_found_2}}</p>
                        </div>
                        <button pButton type="button" [routerLink]="['/']" label="{{lang.not_found_3}}"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
