
<p-tag *ngIf="statut === 0"
styleClass="p-mr-2" severity="success" value="{{lang.doc_statut_Inscrit}}"></p-tag>

<p-tag *ngIf="statut === 1"
styleClass="p-mr-2" severity="info"  value="{{lang.doc_statut_Soutenu}}"></p-tag>

<p-tag *ngIf="statut === 2"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Abandonne}}"></p-tag>

<p-tag *ngIf="statut === 3"
styleClass="p-mr-2"  value="{{lang.doc_statut_Preinscrit}}"></p-tag>

<p-tag *ngIf="statut === 4"
styleClass="p-mr-2"  severity="success"   value="{{lang.doc_statut_Convoque_Ecrit}}"></p-tag>

<p-tag *ngIf="statut === 5"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Rejete}}"></p-tag>

<p-tag *ngIf="statut === 6"
styleClass="p-mr-2"  severity="success"  value="{{lang.doc_statut_Convoque_Orale}}"></p-tag>

<p-tag *ngIf="statut === 7"
styleClass="p-mr-2"  severity="success"   value="{{lang.doc_statut_Attente_Orale}}"></p-tag>

<p-tag *ngIf="statut === 8"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Rejete_Oral}}"></p-tag>

<p-tag *ngIf="statut === 9"
styleClass="p-mr-2"  severity="success"   value="{{lang.doc_statut_Admissible}}"></p-tag>

<p-tag *ngIf="statut === 10"
styleClass="p-mr-2"  severity="success"  value="{{lang.doc_statut_Admis}}"></p-tag>


<p-tag *ngIf="statut === 11"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Annule}}"></p-tag>

<p-tag *ngIf="statut === 12"
styleClass="p-mr-2"  value="{{lang.doc_statut_Fait_Reinscription}}"></p-tag>


<p-tag *ngIf="statut === 13"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Retrait_Definitif}}"></p-tag>

<p-tag *ngIf="statut === 14"
styleClass="p-mr-2" severity="success" value="{{lang.doc_statut_Reinscrit}}"></p-tag>

<p-tag *ngIf="statut === 15"
styleClass="p-mr-2"  value="{{lang.doc_statut_Depose}}"></p-tag>

<p-tag *ngIf="statut === 16"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Reinscription}}"></p-tag>
<p-tag *ngIf="statut === 17"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Reinsc_Encad}}"></p-tag>
<p-tag *ngIf="statut === 18"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Reinsc_Labo}}"></p-tag>
<p-tag *ngIf="statut === 19"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Reinsc_Cedoc}}"></p-tag>
<p-tag *ngIf="statut === 20"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Reinsc_Pedoc}}"></p-tag>



<p-tag *ngIf="statut === 21"
styleClass="p-mr-2"  severity="success"  value="{{lang.doc_statut_Accepte_Reinsc_Encad}}"></p-tag>

<p-tag *ngIf="statut === 22"
styleClass="p-mr-2"  severity="success"  value="{{lang.doc_statut_Accepte_Reinsc_Labo}}"></p-tag>

<p-tag *ngIf="statut === 23"
styleClass="p-mr-2"  severity="success"  value="{{lang.doc_statut_Accepte_Reinsc_Cedoc}}"></p-tag>

<p-tag *ngIf="statut === 24"
styleClass="p-mr-2" severity="success"  severity="success" value="{{lang.doc_statut_Accepte_Reinsc}}"></p-tag>



<p-tag *ngIf="statut === 25"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Rejete_Encad}}"></p-tag>

<p-tag *ngIf="statut === 26"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Rejete_Labo}}"></p-tag>

<p-tag *ngIf="statut === 27"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Rejete_Cedoc}}"></p-tag>

<p-tag *ngIf="statut === 28"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Rejete_Pedoc}}"></p-tag>

 <p-tag *ngIf="statut === 61"
 styleClass="p-mr-2"   severity="warning"  value="{{lang.doc_statut_Convoque_Orale_Encad}}"></p-tag>
  <p-tag *ngIf="statut === 62"
 styleClass="p-mr-2"   severity="warning" value="{{lang.doc_statut_Convoque_Orale_Labo}}"></p-tag>
   <p-tag *ngIf="statut === 63"
 styleClass="p-mr-2"   severity="warning" value="{{lang.doc_statut_Convoque_Orale_Cedoc}}"></p-tag>
   <p-tag *ngIf="statut === 64"
 styleClass="p-mr-2"   severity="warning"  value="{{lang.doc_statut_Convoque_Orale_Pedoc}}"></p-tag>



 <p-tag *ngIf="statut === 65"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Absente_Oral}}"></p-tag>


 <p-tag *ngIf="statut === 70"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Preinscr}}"></p-tag>

 <p-tag *ngIf="statut === 71"
 styleClass="p-mr-2" severity="danger"  value="{{lang.doc_statut_Refus_Preselection}}"></p-tag>

 <p-tag *ngIf="statut === 80"
 styleClass="p-mr-2" severity="success"  value="{{lang.doc_statut_Accepte_Preinscr}}"></p-tag>
