.vertical-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: medium;
  align-items: center;
}
input{
    height: 40px;
    padding: 5px;
    font-size: medium;
    text-align: center;
    width: 90%;
}
label{
    text-align: center;
    margin: 10px;
    font-weight: 600;
    color: darkblue;
}
.vertical-form label {
  margin-bottom: 5px;
}

